.register-container {
  max-width: 400px;
  margin: 40px auto; /* Agregado margen superior de 40px */
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-container h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.register-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.register-button:hover {
  background-color: #218838;
}

.register-error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

  